@model System.Collections.Generic.IEnumerable<TesteMVC.pc_status_cliente3_Result>
@{
    ViewBag.Title = "RecebeStatusCliente";
}

<h2>Status Alterado com Sucesso</h2>

@Html.ActionLink("Home","Index","HomeLogin")
