@model System.Collections.Generic.IEnumerable<TesteMVC.Cliente>
@{
    ViewBag.Title = "Index";
}

<h2>Gerar Venda</h2>


<table runat="server" class="table">    
    <tr>
        <th>Nome</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        @*<a href="~/CadastrarEnderecoCliente/CadastrarEndereco?id=@item.id_cliente">Cadasdrar Endereço</a>*@
    <tr>    
        <td> @item.nome_cliente </td>
        <td> @Html.ActionLink("Gerar Venda", "index", "ContasReceber", new { id_cliente = @item.id_cliente }, null)  </td>
    </tr>
    }
</table>
