@model TesteMVC.Cliente
@{
    ViewBag.Title = "CadastrarCliente";
}

<h2>Cadastrado efetuado com sucesso</h2>



@Html.ActionLink("Gerar Venda","Index","ContasReceber", new {id_cliente= @Model.id_cliente},null)
@Html.ActionLink("Cadastrar Endereço","CadastrarEndereco","CadastrarEnderecoCliente", new {id_cliente= @Model.id_cliente},null)
